.full-container {
  padding-top: var(--full-padding);
}

.form-floating .form-select {
  font-size: 24px;
  color: #6c757d;
  padding-top: 24px !important;
}

.form-floating .tag-div {
  padding: 10px !important ;
  height: 12rem !important;
  overflow-x: hidden;
  overflow: auto;
}
.form-floating .tag-div::-webkit-scrollbar {
  width: 6px;
}
.form-floating .tag-div::-webkit-scrollbar-track {
  background-color: transparent;
}
.form-floating .tag-div::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}
.form-floating .tag-div::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.form-floating .tag-div {
  width: 100%;
  margin: auto;
}
.form-floating .tag-div .bi {
  width: 1em;
  height: 1em;
}
.form-floating .tag-div button {
  margin-bottom: 5px !important;
}
.form-floating .tag-div .label-wrap {
  position: relative;
}

#tagAppend {
  display: inline;
  padding: 0 5px;
}

#tagAppend .btn {
  margin-right: 5px;
}

input[type="file"] {
  display: inline-block;
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 1;
  opacity: 0;
  background: var(--bs-teal) !important;
}

.file-label {
  width: 100%;
}

#image_container img {
  width: 100%;
  height: 100%;
  padding: 3px;
  display: flex;
  border-radius: 100%;
  border: 2px solid var(--bs-teal);
  color: #ced4da;
  text-align: center;
}
/* #image_container img {
  width: 100%;
  height: 100%;
  padding: 3px;
  display: flex;
  border-radius: 100%;
  border: 2px solid var(--bs-teal);
} */
.label-wrap .search1 {
  font-size: 18px !important;
  float: right;
  margin-right: 3px;
}
.label-wrap .search2 {
  font-size: 18px;
  float: right;
  border: 0.125rem solid #ced4da;
  border-radius: 5px;
}
#tagAppend {
  margin: 5px 0;
  float: left;
}
.input-phone {
  font-size: 24px;
  border: 0.125rem solid #ced4da;
  border-radius: 5px;
  width: 30%;
  padding: 24px 0;
  padding-left: 10px;
}
.input-phone-wrap {
  margin-left: 120px;
  margin-bottom: 60px;
}
#phone-label {
  top: 0px;
}
.selectTime-wrap {
  position: relative;
  font-size: 24px;
  color: #6c757d;
}
.selectTime-wrap span {
  color: black;
  font-size: 28px;
}
.selectTime-wrap .week {
  color: red;
}
.selectTime-wrap .selectTime {
  display: inline;
  width: 24%;
  margin-bottom: 10px !important;
  padding-left: 10px !important;
}
.rest-wrap {
  font-size: 24px;
  color: #6c757d;
  margin-bottom: 60px !important;
}
.rest-wrap button {
  width: 80px;
  height: 80px;
  font-size: 24px;
  text-align: center;
  margin: 0 5px;
  color: var(--bs-teal);
  border-color: var(--bs-teal);
}
.rest-wrap button:hover {
  color: #fff;
  background-color: var(--bs-teal);
  border-color: var(--bs-teal);
}
