@media (max-width:768px) {
    li{
        margin: 10px;
    }
    ul{
        margin-bottom: 0px;
        margin-top: 15px;
        flex-direction: row;
        width: 100%;
    }
    .portfolio-filter{
        margin-top: 30px;
        display: flex;
        align-items: center;
    }
}