.container-fluid {
  margin: 1rem 0;
}
.page-margin {
  margin-top: 4em;
}
.form-floating .form-select {
  font-size: 24px;
  color: #6c757d;
  padding-top: 24px !important;
}

.form-floating .tag-div {
  padding: 10px !important ;
  height: 12rem !important;
  overflow-x: hidden;
  overflow: auto;
}
.form-floating .tag-div::-webkit-scrollbar {
  width: 6px;
}
.form-floating .tag-div::-webkit-scrollbar-track {
  background-color: transparent;
}
.form-floating .tag-div::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}
.form-floating .tag-div::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.form-floating .tag-div {
  width: 100%;
  margin: auto;
}
.form-floating .tag-div .bi {
  width: 1em;
  height: 1em;
}
.form-floating .tag-div button {
  margin-bottom: 5px !important;
}
.form-floating .tag-div .label-wrap {
  position: relative;
}

#tagAppend {
  display: inline;
  padding: 0 5px;
}

#tagAppend .btn {
  margin-right: 5px;
}

input[type="file"] {
  display: inline-block;
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 1;
  opacity: 0;
  background: var(--bs-teal) !important;
}

.file-label {
  width: 100%;
}

#att_zone {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 10px;
  /* min-width: 615px; */
}
#att_zone > div {
  display: inline;
  width: 18% !important;
}
#att_zone:empty:before {
  content: attr(data-placeholder);
  color: #999;
  font-size: 0.9em;
}

.img-scroll {
  padding: 10px !important ;
  height: 12rem !important;
  /* overflow-x: hidden; */
  overflow: auto;
}
.img-scroll::-webkit-scrollbar {
  width: 6px;
}
.img-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.img-scroll::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}
.img-scroll::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.img-scroll {
  width: 100%;
  margin: auto;
}
.img-scroll .bi {
  width: 1em;
  height: 1em;
}
.label-wrap .search1 {
  font-size: 18px !important;
  float: right;
  margin-right: 3px;
}
.label-wrap .search2 {
  font-size: 18px;
  float: right;
  border: 0.125rem solid #ced4da;
  border-radius: 5px;
}
#tagAppend {
  display: block;
  margin: 5px 0;
  float: left;
}
#image_container img {
  width: 100%;
  height: 100%;
  padding: 3px;
  display: flex;

  border: 2px solid var(--bs-teal);
  color: #ced4da;
  text-align: center;
}
#att_zone > div {
  width: 17% !important;
}
